<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>

  <div><a href="/logout">ログアウト</a></div>

  <h1>Janken GAME!</h1>

  <p>エントリー</p>
    <ul>
      <!--eachは所謂for each．この場合entryオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
      thが指定されているので[]が不要になる-->
      <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>

  <div sec:authentication="name"></div>

  <a href="/janken/Gu">ぐー</a>
  <a href="/janken/Cho">ちょき</a>
  <a href="/janken/Pa">ぱー</a>

  <div th:if="${playerChoice}">あなたの手 [[${playerChoice}]]</div>
  <div th:if="${cpuChoice}">相手の手 [[${cpuChoice}]]</div>
  <div th:if="${result}">結果 [[${result}]]</div>

</body>

</html>
