<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>

  <div><a href="/logout">ログアウト</a></div>

  <h1>Janken GAME!</h1>

  <p>エントリー</p>
  <ul>
    <li th:each="user : ${entry.users}">[[${user}]]</li>
  </ul>
  </div>

  <div th:if="${login_user}">
    <div>Hi [[${login_user}]]</div>
  </div>

  <div>
    <a href="/janken/jankengame?hand=Gu">ぐー</a>
    <a href="/janken/jankengame?hand=Choki">ちょき</a>
    <a href="/janken/jankengame?hand=Pa">ぱー</a>
  </div>

  <div th:if="${result}">
    <div th:if="${playerChoice}">あなたの手 [[${playerChoice}]]</div>
    <div th:if="${cpuChoice}">相手の手 [[${cpuChoice}]]</div>
    <div th:if="${result}">結果 [[${result}]]</div>
  </div>

</body>

</html>